.resume-container {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.resume-common-wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 24px 0px;
}

.resume-common-wrapper p {
  word-wrap: break-word;
  white-space: pre-line;
}

.resume-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.resume-header > img {
  width: 240px;
  border-radius: 100%;
}

.resume-header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 48px;
}

.resume-header > div > ul {
  list-style: none;
  padding: 0px;
}

.resume-header > div > ul > li {
  margin-bottom: 12px;
}

.skill-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}

.skill-wrapper > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  list-style: none;
  margin: 0px;
  max-width: 75%;
  width: 75%;
}

.skill-wrapper > h2 {
  color: gray;
  margin: 0px;
  width: 25%;
  /* width: 132px; */
  text-align: left;
}
