#resume-container {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 24px 12px;
  overflow: visible;
  width: auto;
  height: auto;
}

.resume-introduction {
  font-size: 16px;
  line-height: 24px;
}

.resume-common-wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 24px 0px;
  overflow: visible;
  height: auto;
}

.resume-common-wrapper > h1 {
  color: var(--strong-blue);
  margin: 0px;
}

.resume-common-wrapper p {
  word-wrap: break-word;
  white-space: pre-line;
}

.resume-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.resume-header > img {
  width: 240px;
  border-radius: 100%;
}

.resume-header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 48px;
}

.resume-header > div > ul {
  list-style: none;
  padding: 0px;
}

.resume-header > div > ul > li {
  margin-bottom: 12px;
}

.skill-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.skill-wrapper > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  list-style: none;
  margin: 0px;
  /* max-width: 60%; */
  width: 50%;
  font-size: 14px;
}

.skill-wrapper > h2 {
  color: gray;
  margin: 0px;
  width: 30%;
  text-align: left;
  font-size: 20px;
}

.experience-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.experience-wrapper > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}

.experience-wrapper > div:first-child > h3 {
  color: gray;
}

.experience-wrapper > div:last-child {
  margin-left: 24px;
  width: 50%;
}

.experience-wrapper > div:last-child > ul > li {
  margin-top: 8px;
}

.experience-wrapper .skill-title {
  font-weight: 700;
}

.tenure {
  background-color: var(--basic-blue);
  color: white;
  border-radius: 4px;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.experience-skill {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin-top: 8px;
}

.experience-skill > li {
  background-color: var(--basic-gray);
  color: white;
  border-radius: 4px;
  padding: 2px 4px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  margin: 4px 0px;
}
.experience-wrapper .corp-ex {
  font-size: 14px;
  font-weight: 400;
  color: var(--strong-gray);
  margin-top: 16px;
  margin-bottom: 48px;
}

.experience-skill > li:not(:last-child) {
  margin-right: 12px;
}

.experience-list-link-icon {
  color: var(--basic-blue);
}

.experience-list-wrapper {
  list-style: none;
  font-weight: 700;
  padding: 0px;
}
.experience-list-wrapper > li {
  margin: 32px 0px;
  min-height: 40px;
}

.experience-detail-list-wrapper {
  font-weight: 500;
  color: var(--strong-gray);
  padding: 0px;
  margin-top: 12px;
  list-style: inside;
}

.experience-detail-list-wrapper li {
  margin: 8px 0px;
  font-size: 14px;
}

.experience-detail-list-target {
  font-weight: 700;
}

.experience-period {
  margin: 12px 0px;
  color: var(--strong-gray);
  font-size: 20px;
  font-weight: 700;
}

.experience-explanation {
  margin-top: 4px;
  margin-bottom: 48px;
  color: var(--strong-gray);
  font-size: 14px;
}

.resume-education-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.resume-education-wrapper > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
}

.resume-education-wrapper > div:first-child > h3 {
  color: gray;
}

.resume-education-wrapper > div:last-child {
  margin-left: 24px;
  width: 75%;
}

.resume-education-wrapper > div:last-child > h4 {
  color: gray;
  font-weight: 400;
  font-style: italic;
}

.hide {
  visibility: hidden;
  width: 0vw;
  height: 0vh;
}

.visible {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  visibility: visible;
  background-color: white;
  width: 100vw;
}

.print-resume-wrapper {
  width: 100%;
  position: relative;
  height: fit-content;
  margin: 32px 0px;
  min-height: 48px;
}

.print-resume {
  background-color: var(--basic-gray);
  border: none;
  border-radius: 100%;
  border: 1px solid var(--basic-gray);
  width: 32px;
  height: 32px;
  color: white;
  vertical-align: middle;
  position: absolute;
  left: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.print-resume:hover {
  background-color: var(--basic-blue);
  border: 1px solid var(--basic-blue);
}

@media screen and (max-width: 512px) {
  .resume-header {
    flex-direction: column;
  }

  .resume-header > div {
    margin-left: 0px;
  }
  .experience-skill > li {
    margin-top: 4px;
  }

  .resume-common-wrapper > h1 {
    margin: 8px 0px;
  }

  .resume-common-wrapper > p {
    margin: 8px 0px;
  }

  .skill-wrapper > h2 {
    word-break: break-word;
  }
}

.resume-common-title-wrapper {
  display: flex;
  align-items: center;
}

.resume-common-title-wrapper > h1 {
  color: var(--strong-blue);
  margin: 0px;
}

.resume-skill-introduce {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  margin-left: 12px;
  padding: 0px;
  gap: 8px;
}

.resume-skill-introduce > li {
  border-radius: 5px;
  padding: 4px 8px;
  color: white;
  font-size: var(--portfolio-span);
}

.resume-skill-introduce > .resume-wellknown {
  background-color: var(--strong-blue);
}

.resume-skill-introduce > .resume-knowledgeable {
  background-color: var(--strong-gray);
}

.resume-wellknown {
  color: var(--strong-blue);
}

.resume-knowledgeable {
  color: var(--strong-gray);
}
