/* UI Ref: https://preview.themeforest.net/item/alia-minimal-personal-blog/full_screen_preview/21817200?_ga=2.93063645.1709639131.1647097242-1181632876.1647097242 */
/* body margin  */

:root {
  --basic-width: 1024px;
  --phone-width: 512px;
  --basic-gray: #adbac7;
  --strong-gray: #1e262f;
  --basic-blue: #4a7fd5;
  --strong-blue: #2a70db;
  --header-border-bottom: -webkit-linear-gradient(
    left,
    #fff 0,
    #eeeeee 35%,
    #eeeeee 65%,
    #fff 100%
  );
  --header-nav-bottom: 1px solid #eee;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  #resume-container {
    overflow: visible;
    width: auto;
    height: auto;
  }
  .resume-common-wrapper {
    overflow: visible;
    width: auto;
    height: auto;
  }
}

body {
  margin: 0px;
}

#root {
  height: 100vh;
  overflow: scroll;
}

.route_container {
  max-width: var(--basic-width);
  margin: 0 auto;
  padding: 0px 24px;
}

#disqus_thread {
  max-width: 1042px !important;
  margin: 0px auto !important;
}

.header_container {
  max-width: var(--basic-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 12px;
  margin: 0 auto;
}
.header {
  border-bottom: var(--header-nav-bottom);
  padding: 0px 24px;
  transition: all 0.3s ease-in-out;
  max-height: 352px;
}

.header_profile {
  width: 100%;
  background: var(--header-border-bottom);
  margin: 12px 0px;
}

.header_profile_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5px;
  background-color: white;
}

.header_profile_wrapper img {
  width: 130px;
  height: 130px;
}

.header_profile img {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.header_profile ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 24px 0px;
}

.header_profile ul li {
  list-style: none;
  margin: 0px 14px;
}

.header_profile ul li a {
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 30px;
  padding: 20px 4px;
  margin-bottom: 12px;
  max-width: var(--basic-width);
  margin: 0px auto 12px auto;
}

.nav_list {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav_list li {
  list-style: none;
  margin: 0px 14px;
}

.nav_list li a {
  text-decoration: none;
  color: black;
}

.nav_list li a:hover {
  text-decoration: none;
  color: var(--basic-gray);
}

.burger-button {
  visibility: visible;
}

@media screen and (max-width: 512px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_list {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin: 0px;
  }

  .nav_list li {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  .nav_list li a {
    width: 0px;
    height: 0px;
    display: none;
  }

  .burger-button {
    visibility: visible;
    width: 45px;
    height: 45px;
    position: fixed;
    left: 12px;
    top: 12px;
    background-color: white;
    border: none;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 100%;
  }

  .burger-button > div {
    border-bottom: 2px solid #000;
    width: 100%;
    margin: 2px 0;
    transition: all 0.15s ease-in-out;
  }
}

.burger-button {
  visibility: visible;
  width: 45px;
  height: 45px;
  position: fixed;
  left: 12px;
  top: 12px;
  background-color: white;
  border: none;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 100%;
}

.burger-button > div {
  border-bottom: 2px solid #000;
  width: 100%;
  margin: 2px 0;
  transition: all 0.15s ease-in-out;
}

.burger-contaier {
  padding: 0px;
  margin: auto;
}

.burger-list {
  margin: auto;
  padding: 0px;
  list-style: none;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.burger-list > li {
  height: calc(100% / 3);
  width: 100%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.burger-list > li > a {
  text-decoration: none;
}

.basic-button {
  font-size: 18px;
  height: 100%;
  border: 1px solid white;
  background-color: var(--basic-gray);
  color: white;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  padding: 12px 16px;
}

.basic-button:visited {
  color: white;
}

.basic-button:hover {
  border: 1px solid var(--basic-gray);
  background-color: white;
  color: var(--basic-gray);
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}

.pagination-container {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

.pagination-container #page-wrapper {
  margin: 0px 12px;
  color: gray;
}

.pagination-container button {
  background-color: white;
  color: black;
  border-radius: 4px;
}

.pagination-container button:hover {
  background-color: black;
  color: white;
}

.current-page {
  font-weight: 700;
  color: black;
}
.contribution-wrapper {
  width: 100%;
}

.github-chart {
  width: 100%;
}

.divider {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

@media print {
  .modal-container {
    overflow: visible;
  }
  .modal-wrapper {
    overflow: visible;
  }
}

.modal-wrapper {
  min-width: 90vw;
  min-height: 90vh;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.quit-modal-button {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: white;
  color: gray;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quit-modal-button:hover {
  border-radius: 100%;
  background-color: gray;
  color: white;
  border: 1px solid gray;
  transition: all 0.3s ease-in-out;
}

.hide-header {
  visibility: hidden;
  max-height: 0px;
  transition: max-height 0.26s ease-out;
}

.post-selector {
  width: calc(100vw * 160 / 1140);
  min-width: 120px;
  max-width: 160px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  padding: 4px 8px;
  border: none;
  border: 1px solid var(--basic-gray);
  border-radius: 6px;
  background-color: white;
}

.post-selector:hover {
  background-color: var(--basic-gray);
  color: white;
  transition: all 0.3s ease-in-out;
}

.post-selector-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin-top: 0px;
}

.post-selector-container > li {
  width: 33.333%;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.post-selector-container > li:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 512px) {
  .post-selector-container > li {
    height: 24px;
  }
}

.post-selector-container > li:nth-child(2n) {
  border-right: 0px;
  border-left: 0px;
}

.active {
  background-color: black;
  color: white;
}

.about-main-container {
  margin-bottom: 24px;
}

/* .about-main-container a:first-child {
  margin-right: 12px;
} */

.guest-book-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
}

.scroll-top-button {
  position: fixed;
  bottom: 42px;
  right: 42px;
  width: 42px;
  height: 42px;
  background-color: white;
  border-radius: 100%;
  border: 1px solid gray;
  cursor: pointer;
  color: black;
}

.scroll-top-button:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 512px) {
  .scroll-top-button {
    bottom: 24px;
    right: 24px;
    width: 36px;
    height: 36px;
  }
}
